language: php

php:
  - 7.1

services:
  - mysql

before_install:
# - mysql -e 'CREATE DATABASE IF NOT EXISTS myapp_test;'


before_script:
  #- echo "USE mysql;\nUPDATE user SET password=PASSWORD('Travis123!') WHERE user='travis';\nFLUSH PRIVILEGES;\n" | mysql -u travis
    #- psql -c 'create database travis_ci_test;' -U postgres
  - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev install
  - composer dumpautoload
  #- bin/console doctrine:database:drop --force
  #- echo "CREATE DATABASE myapp_test CHARSET utf8;\n" | mysql -u travis
  - bin/console doctrine:database:create
  - bin/console doctrine:schema:update --force
  #- bin/console doctrine:fixtures:load -q

test:
  database: myapp_test
  username: travis
  encoding: utf8

script: vendor/bin/phpunit
