{% extends 'bootstrap.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div id="tree"></div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="http://code.gijgo.com/1.6.0/css/gijgo.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.gijgo.com/1.6.0/js/gijgo.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tree').tree({
                primaryKey: 'id',
                childrenField: '__children',
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                dataSource: '{{ path("parser_source") }}',
                textField: 'name',
            });
        });
    </script>
{% endblock %}