<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h1>PHP School tasks</h1>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <p class="text-md-right"> <a href="{{ path("homepage") }}">Home</a></p>
                </div>
            </div>
        </div>
    </div>
</header>