<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h1><a href="{{ path("homepage") }}">PHP School tasks</a></h1>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <p class="text-md-right"> <a href="{{ path("admin") }}">Admin Page</a></p>
                </div>
            </div>
        </div>
    </div>
</header>