<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h1><a href="{{ path("homepage") }}">PHP School tasks</a></h1>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <div class="text-md-right"><span><a href="{{ path("auth") }}">Sign In</a></span>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="text-md-right"> <a href="{{ path("user_signup") }}">Sign Up</a></span></div>
                    {% else %}
                    <div class="text-md-right"><span class="text-md-right"> <a href="{{ path("logout") }}">Sign out</a></span></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>