{% extends 'bootstrap.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Exercise name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>CRUD on Symfony</td>
            <td></td>
            <td><a href="{{ path("article_homepage") }}">View</a></td>
        </tr>
        </tbody>
    </table>

{% endblock %}
