{% extends 'bootstrap.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success">Hello, {{ username }}! It's admin page!</div>
        </div>
    </div>
{% endblock %}