{% extends 'bootstrap.html.twig' %}

{% block body %}

    <h2>Create new article</h2>

    {{ form(form) }}

    <a href="{{ path("article_homepage") }}" class="alert-link">Back to the articles list</a>

{% endblock %}
